//Responsive mixins
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin touchableScreen {
    @media (hover: none) {
        @content
    }
}
