// Body
$body-bg: #f8fafc;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #002FCB;
$indigo: #6574cd;
$purple: #2a25cc;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;

$main-color: $blue;
$secondary-color: #B3F933;

// Gradients
$main-gradient: linear-gradient(to right top, #002fcb, #2229cc, #3421cc, #4315cc, #4f00cb);
$main-radial-gradient: radial-gradient(circle, #002fcb, #2229cc, #3421cc, #4315cc, #4f00cb);

// Projects
$project-card-height: 575px;

//Animations
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
