// Fonts
@import url('https://use.typekit.net/hpz7rdq.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Theme
@import 'theme';

// Theme
@import 'projects';

// Morphing Cursor
@import "lerp-cursor";

@import "mixins";

html {
    overflow-x: hidden;

    .visible {
        visibility: visible;
    }

    .invisible {
        visibility: hidden;
    }

    body {
        overflow-x: hidden;
        background: white !important;

        .accessible-nav {
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                pointer-events: none;
                opacity: 0;
                transition: opacity .2s;
            }

            &:focus-within {
                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: rgb(0 47 203 /.5);
                    position: fixed;
                    opacity: 1;
                    top: 0;
                    left: 0;
                    z-index: 98;
                    backdrop-filter: blur(7px);
                }
            }

            a {
                background: white;
                padding: 13px 25px;
                color: #141414;
                font-size: 1.1em;
                font-weight: bold;
                border: 2px solid $main-color;
                transition: transform .2s, opacity .2s;
                transform: translateY(20px);
                pointer-events: none;
                position: fixed;
                top: 15px;
                left: 15px;
                border-radius: 50px;
                z-index: 99;
                outline: none;
                box-shadow: 0 0 20px 0 rgb(0 47 203 /.5);

                &:after {
                    content: 'Press Enter ↵';
                    background: #002FCB;
                    color: white;
                    padding: 5px 10px;
                    font-size: 0.7em;
                    border-radius: 30px;
                    font-weight: normal;
                    margin-left: 15px;
                }

                &:focus {
                    opacity: 1 !important;
                    pointer-events: auto;
                    transform: translateY(0);
                }
            }

            label {
                background: white;
                padding: 10px;
                color: $main-color;
                font-size: 1.3em;
                font-weight: bold;
                border: 2px dashed $main-color;
                transition: transform .3s, opacity .3s;
                opacity: 0;
                transform: translateY(20px);
                pointer-events: none;
                position: absolute;
                top: 30px;
                left: 30px;
                border-radius: 15px;
                z-index: 1000000000020;
                outline: none !important;

                &:focus {
                    opacity: 1;
                    pointer-events: auto;
                    transform: translateY(0);
                }
            }
        }

        .rotating-sphere-container {
            transform: translateX(-50%);
            position: absolute;
            top: -1100px;
            left: 50%;
            pointer-events: none;
            z-index: 0;

            #rotating-sphere {
                width: 1400px;
                height: 1400px;
                -webkit-animation: spin 60s linear infinite;
                -moz-animation: spin 60s linear infinite;
                animation: spin 60s linear infinite;
                z-index: 0;
            }
        }

        #responsive-nav-container {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            visibility: hidden;
            transform: translate(-50%, -50%);
            z-index: 100;

            @include desktop {
                display: none;
            }

            ul {
                .responsive-nav-item {
                    margin: 20px 0;
                    transform: translateY(-20px);
                    visibility: hidden;
                    opacity: 0;
                    transition: transform .5s, opacity .5s, visibility .2s;

                    &.nav-open {
                        visibility: visible;
                        transform: translateY(0);
                        opacity: 1;
                        transition: transform 1s, opacity 1s, visibility 1s;
                    }

                    a {
                        color: white;
                        font-size: 28px;
                        font-family: "Raisonne", pt-serif, sans-serif;
                        font-weight: bold;

                        &.outline {
                            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
                            color: $purple;
                        }
                    }
                }
            }

            svg.responsive-nav-item {
                transform: rotate3d(1, 0, 0, 90deg);
                visibility: hidden;
                opacity: 0;
                transition: transform .5s, opacity .5s, visibility .2s;

                &.nav-open {
                    visibility: visible;
                    transform: rotate3d(1, 0, 0, 0deg);
                    opacity: 1;
                    transition: transform 1s, opacity 1s, visibility 1s;
                }
            }

            #responsive-nav-separator {
                width: 0;
                visibility: hidden;
                border-top: 2px solid rgba(255, 255, 255, .2);
                margin: auto;
                transition: width .2s, visibility .2s;

                &.nav-separator-open {
                    width: 100%;
                    visibility: visible;
                    transition: width .5s, visibility .5s;
                }
            }
        }

        // Full Credit to https://codepen.io/ainalem for his animated hamburger menu icon
        .line {
            fill: none;
            stroke: #141414;
            stroke-width: 6;
            transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .line1 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
        }

        .line2 {
            stroke-dasharray: 60 60;
            stroke-width: 6;
        }

        .line3 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
        }

        .opened .line1 {
            stroke: #fff;
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
        }

        .opened .line2 {
            stroke: #fff;
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: 6;
        }

        .opened .line3 {
            stroke: #fff;
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
        }

        #responsive-nav-button {
            background: transparent;
            border: none;
            z-index: 9;
            position: relative;
            padding-right: 0;

            &:focus {
                outline: none;
            }
        }

        #nav-circle-background {
            height: 0;
            width: 0;
            top: 56px;
            right: 61px;
            border-radius: 50%;
            background: $main-radial-gradient;
            position: absolute;
            z-index: 1;
            visibility: hidden;
            transform: translate(50%, -50%);
            transition: visibility .5s, width .5s, height .5s;

            &.circle-open {
                visibility: visible;
                transition: visibility 1s, width 1s, height 1s;
            }
        }

        #app {
            background: white url('./storage/images/line-background.jpg');
            position: relative;

            * {
                font-family: pt-serif, sans-serif;
            }

            // Titles
            h1, h2, h3, h4, h5, h6, a, button {
                * {
                    font-family: "Raisonne", sans-serif;
                }

                font-family: "Raisonne", sans-serif;
                font-weight: 500;
            }

            h1 {
                line-height: normal;
            }

            h4 {
                &:after {
                    content: '.';
                    color: $main-color;
                }
            }

            a {
                font-weight: 700;
            }

            p {
                opacity: .7;
            }

            button {
                outline: none !important;
            }

            .horizontal-title {
                margin-top: 3px;
                font-family: "Raisonne", pt-serif, sans-serif;
                letter-spacing: 4px;
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
                opacity: 1;
            }

            *[class*='btn-'] {
                border-radius: 2px;
                padding: 10px 20px !important;
            }

            *[class*='btn-outline-'] {
                border-width: 2px !important;
            }

            .btn-primary {
                background-color: transparent;
                border: 2px solid white;
                color: white;
            }

            h3 {
                font-size: 28px;
                line-height: 45px;
            }

            h4 {
                line-height: 36px;
            }

            header.main-header {
                background-position: center !important;
                background-size: cover !important;
                padding: 200px 30px;
                position: relative;
                border-radius: 2px;

                @include tablet {
                    border-radius: 0;
                    padding: 150px 15px;
                }

                &.header-black {
                    background-color: #141414;
                    color: white;
                }

                &.header-purple {
                    background: $main-gradient;
                    color: white;
                }

                &.header-blue {
                    background: #002FCB;
                    color: white;
                }

                h2 {
                    font-size: 80px;
                    font-weight: 700;

                    @include tablet {
                        font-size: 45px;
                    }

                    strong {
                        font-weight: inherit;
                        color: $main-color;
                    }
                }

                nav {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    justify-content: space-between;
                    padding: 30px;

                    h1 {
                        a {
                            background: none !important;
                        }
                    }

                    &.white-nav {
                        a {
                            color: white;

                            &:hover, &.active {
                                background: rgba(255, 255, 255, 0.1);
                            }
                        }

                        .line {
                            stroke: white !important;
                        }

                        .dropdown-link-item {
                            &:hover {
                                background: $secondary-color !important;
                                color: black !important;
                            }
                        }
                    }

                    ul {
                        li {
                            display: inline;

                            a {
                                margin: 0 5px;
                                background: transparent;
                                padding: 10px 20px;
                                border-radius: 2px;
                                transition: background .1s linear;

                                &:hover, &.active {
                                    background: rgba(0, 0, 0, 0.07);
                                }
                            }
                        }
                    }

                    .dropdown-list-container {
                        position: relative;

                        .dropdown-container {
                            width: 100%;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            outline: none;
                            pointer-events: none;

                            .dropdown-link-item {
                                background: black;
                                color: white;
                                display: block;
                                margin: 0;
                                visibility: hidden;
                                transform: translateX(20px);
                                border-radius: 0;
                                transition: background .2s;

                                &:hover {
                                    background: $main-color;
                                }

                                &:nth-child(1) {
                                    transition: background .2s, transform .2s .2s linear, opacity .2s .2s linear, visibility .2s .2s linear;
                                }

                                &:nth-child(2) {
                                    transition: background .2s, transform .2s .4s linear, opacity .2s .4s linear, visibility .2s .4s linear;
                                }
                            }
                        }

                        @include touchableScreen {
                            &:hover {
                                .dropdown-container {
                                    pointer-events: auto;
                                }

                                .dropdown-link-item {
                                    transform: translateX(0);
                                    visibility: visible;
                                    opacity: 1 !important;
                                    z-index: 9;
                                }
                            }
                        }

                        &:focus-within, &:focus {
                            .dropdown-container {
                                pointer-events: auto;
                            }

                            .dropdown-link-item {
                                transform: translateX(0);
                                visibility: visible;
                                opacity: 1 !important;
                                z-index: 9;
                            }
                        }
                    }
                }
            }

            //Projects
            .projects-list {
                margin-top: 80px;

                @include tablet {
                    margin-right: 0 !important;
                    margin-left: 0 !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    max-width: 100%;
                }
            }

            .projects-row {
                .project-card {
                    height: $project-card-height;
                    display: block;
                    position: relative;
                    overflow: hidden;
                    background-size: cover !important;
                    background-repeat: no-repeat !important;
                    background-position: center !important;
                    border: 0 solid white;
                    transition: border .15s linear;

                    &.project-card-small {
                        height: calc(#{$project-card-height} / 2);

                        @include tablet {
                            height: $project-card-height;
                        }
                    }

                    h4 {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        left: 50%;

                        &:after {
                            content: none;
                        }

                        img {
                            max-height: 150px;
                            max-width: 150px;
                        }
                    }

                    .article-gradient-overlay {
                        height: 100%;
                        width: 100%;
                        background: linear-gradient(45deg, transparent, white);
                        opacity: 0;
                        pointer-events: none;
                        transition: opacity .3s ease-in-out;
                    }

                    &:hover {
                        border: 15px solid white;

                        .article-gradient-overlay {
                            opacity: .3;
                        }
                    }
                }
            }

            #clients {
                position: relative;
                padding-top: 80px;
                background: linear-gradient(to top, rgb(255 255 255 /0), #fff);

                &:after {
                    content: '';
                    width: 100%;
                    height: 40px;
                    background-color: transparent;
                    position: absolute;
                    border-radius: 100%;
                    top: 0;
                    left: 0;
                    box-shadow: 0 -20px 30px RGBa(89, 31, 189, .2);
                    opacity: .25;
                    z-index: 0;
                }

                article.client-box {
                    background-color: #f6f6f6;
                    border-radius: 8px;
                    width: 210px;
                    height: 115px;
                    line-height: 115px;
                    display: inline-block;
                    float: left;
                    text-align: center;
                    vertical-align: middle;
                    margin: 20px;
                    transition: background-color .2s;

                    &:hover {
                        background-color: #f1f1f1;
                    }
                }
            }

            .client-citation {
                background: radial-gradient(circle, #fff, rgb(255 255 255 /0));

                .citation-client {
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                    background: $secondary-color;
                    overflow: hidden;
                    text-align: center;
                    border: 4px solid white;
                    box-shadow: 0 -10px 30px RGBa(89, 31, 189, 0.15);
                    transform: rotateX(15deg) rotateY(-10deg);
                    position: relative;

                    &:after {
                        content: "";
                        display: block;
                        height: 100%;
                        width: 100%;
                        background: linear-gradient(-141deg, white, rgb(255 255 255 /0), rgb(255 255 255 /0));
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: .7;
                    }

                    img {
                        //mix-blend-mode: exclusion;
                        max-width: 180px;
                        max-height: 180px;
                    }
                }

                blockquote {
                    p {
                        font-size: 2em;
                        position: relative;
                        opacity: 1;

                        &:before {
                            content: '';
                            height: 74px;
                            width: 45px;
                            position: absolute;
                            top: -40px;
                            left: -60px;
                            background: url("public/storage/images/quote - open.svg") no-repeat center;

                            @include tablet {
                                height: calc(74px / 2);
                                width: calc(45px / 2);
                                background-size: contain;
                                bottom: -30px;
                                left: -20px;
                            }
                        }

                        &:after {
                            content: '';
                            height: 74px;
                            width: 45px;
                            position: absolute;
                            bottom: -40px;
                            right: -60px;
                            background: url("public/storage/images/quote - close.svg") no-repeat center;

                            @include tablet {
                                height: calc(74px / 2);
                                width: calc(45px / 2);
                                background-size: contain;
                                bottom: -30px;
                                right: -20px;
                            }
                        }
                    }
                }

                figcaption {
                    opacity: .7;
                }
            }

            //Call To Action Contact & CV
            #call-to-action-container {
                #call-to-action {
                    background: $main-gradient;
                    padding: 80px;
                    margin-top: 80px;
                    margin-bottom: 40px;

                    a {
                        text-decoration: underline;
                        color: rgb(255 255 255 /.7);
                    }

                    @include tablet {
                        padding: 40px;
                    }

                    h3, h4 {
                        color: white;
                    }

                    #blue-birds-image {
                        width: auto;
                        position: absolute;
                        bottom: -140px;
                        left: -95px;
                    }
                }
            }

            footer {
                margin-top: 40px;
                padding-bottom: 80px;

                a {
                    &:hover {
                        img {
                            transform: rotate(-20deg);
                        }
                    }

                    img {
                        width: auto;
                        transform: rotate(0);
                        transition: transform .2s linear;
                    }
                }
            }
        }
    }
}
