@import "mixins";

body {
    @include desktop {
        &#portfolio-body {
            * { cursor: none !important; }

            @include touchableScreen {
                #circle, #cursor-bg {
                    display: none !important;
                }
            }

            #circle{
                position: fixed;
                width: 80px;
                height: 80px;
                line-height: 80px;
                z-index: 100;
                pointer-events: none;
                text-align: center;
                mix-blend-mode: exclusion;
                transition: opacity .3s;
            }

            #cursor-bg {
                width: 80px;
                height: 80px;
                display: inline-block;
                background: #fff;
                border-radius: 100%;
                transition: height .3s, width .3s, border-radius .3s, opacity .3s, mix-blend-mode .3s;
                transform: scale(1);
            }

            .text-cursor #cursor-bg {
                width: 3px !important;
                height: 50px !important;
                border-radius: 2px !important;
                margin: auto;
            }

            .text-cursor-small #cursor-bg {
                width: 3px !important;
                height: 30px !important;
                border-radius: 2px !important;
                margin: auto;
            }

            .dot-cursor {
                opacity: .2 !important;
                mix-blend-mode: difference !important;
                #cursor-bg {
                    height: 20px !important;
                    width: 20px !important;
                }
            }
        }
    }
}
