div#project-content {
    article {
        img {
            width: 100%;
        }

        h2, h3, h4, h5, h6 {
            &:after {
                content: '.';
                color: #002FCB;
                font-weight: bold;
            }
        }

        h2 {
            font-size: 2.3rem;
            line-height: 1.5em;
        }

        h3 {
            font-size: 32px;
        }

        h4 {
            font-weight: bold;
            font-size: 26px;
        }

        h5 {
            &:after {
                content: '';
                height: 3px;
                width: 25px;
                background: #002FCB;
                border-radius: 2px;
                display: block;
                margin: 20px 0;
            }
            font-weight: bold;
            font-size: 21px;
        }

        figure {
            padding: 80px;

            blockquote {
                position: relative;

                p {
                    font-style: italic;
                    font-family: pt-serif, sans-serif;
                    font-size: 32px;
                    opacity: 1;

                    * {
                        font-family: pt-serif, sans-serif;
                    }

                    &:before {
                        content: '';
                        height: 74px;
                        width: 45px;
                        position: absolute;
                        top: -40px;
                        left: -60px;
                        background: url("public/storage/images/quote - open.svg") no-repeat center;
                    }

                    &:after {
                        content: '';
                        height: 74px;
                        width: 45px;
                        position: absolute;
                        bottom: -40px;
                        right: -60px;
                        background: url("public/storage/images/quote - close.svg") no-repeat center;
                    }
                }
            }
            figcaption {
                font-size: 18px;
                opacity: .7;
            }
        }
    }
}
