@import "variables";

@mixin default-link {
    color: black;
    text-decoration: none;
}

@font-face {
    font-family: "Raisonne";
    src:    url("/fonts/raisonne/raisonne.woff2") format("woff2")
}

body::-webkit-scrollbar {
    display: none;
}

.btn-outline-dark {
    border-color: black !important;
    color: black;

    &:hover {
        background: black !important;
    }
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #3421CCFF;
}

::selection {
    color: white;
    background: #3421CCFF;
}

.text-purple {
    color: $purple !important;
}

.btn-light {
    border: 2px solid white;
}

body {
    p {
        line-height: 1.85em;
        font-size: 1.15em;
    }

    a {
        &:hover {
            @include default-link;
        }

        @include default-link;
    }

    ul {
        padding: 0;

        li {
            list-style: none;
            text-decoration: none;
        }
    }

    label {
        font-weight: bold;
    }

    // Force image to 100% width on editor
    .fr-box {
        .fr-fic {
            width: 100% !important;
        }
    }

    .articles {
        overflow: hidden;

        .article-cover {
            background-position: center;
            background-size: cover;
            top: 0;
            z-index: 1;
        }

        ul {
            li {
                list-style: none;
                text-decoration: none;
                opacity: 50%;
                letter-spacing: 2px;
                display: inline;
                margin-right: 10px;
            }
        }

        .cover-overlay {
            background: RGBa(0, 0, 0, .7);
        }

    }

    .card {
        .div-card-top {
            height: 200px;
            background-size: cover !important;
        }
    }

    .bootstrap-tagsinput {
        padding: 0.375rem 0.75rem;
        line-height: 23px;
        width: 100%;
        box-shadow: none;
    }

    .badge {
        padding: 5px 10px !important;
        font-weight: normal !important;
        font-family: Manrope, 'sans-serif';
    }

    .material-icons {
        font-size: 1em;
        vertical-align: middle;
        margin-top: -4px;
    }

    .lg-form-input {
        border: none;
        background: transparent;
        padding: 15px 15px 15px 0;
        font-size: 2em;
        border-radius: 0
    }

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
